@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Work Sans", sans-serif;
  line-height: 1.5rem;
  letter-spacing: 1px;
  color: white;
}

a {
  color: #7bffac;
}

canvas {
  height: 100vh;
}

.loader {
  background: #11161a;
  width: 100vw;
  height: 100vw;
}

.loader-content {
  display: grid;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.loader-content .container {
  max-width: 500px;
  margin: 50px auto;
}

.loader-content .container h2 {
  text-align: center;
  color: #ffffff;
}

.loader-content .container span {
  font-family: "Work Sans", sans-serif;
}

.loader-content .container .progressbar-container {
  position: relative;
  width: 100%;
  height: 35px;
  border: 1px solid #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.loader-content .container .progressbar-container .progressbar-complete {
  position: absolute;
  left: 0;
  top: 0px;
  height: 100%;
  background-color: #7bffac;
  border-radius: 10px;
  animation: g 2500ms infinite ease-in-out;
  z-index: 2;
}

.loader-content
  .container
  .progressbar-container
  .progressbar-complete
  .progressbar-liquid {
  z-index: 1;
  width: 70px;
  height: 70px;
  animation: g 2500ms infinite ease-in-out,
    r 3000ms infinite cubic-bezier(0.5, 0.5, 0.5, 0.5);
  position: absolute;
  right: -5px;
  top: -10px;
  background-color: #7bffac;
  border-radius: 40%;
}

.loader-content .container .progressbar-container .progress {
  z-index: 2;
}

@keyframes g {
  0% {
    background-color: #61cd89;
  }
  50% {
    background-color: #6fe79c;
  }
  100% {
    background-color: #7bffac;
  }
}
@keyframes r {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

.ledger {
  height: 100%;
  width: 2px;
  position: absolute;
  top: 0;
  left: 8vw;
  bottom: 0;
  background: rgb(123, 255, 172);
  background: radial-gradient(
    circle,
    rgba(123, 255, 172, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

.content-wrapper {
  color: #e7d4c0;
  position: absolute;
  width: 28vw;
  top: 13vw;
  left: 7vw;
  padding-left: 5vw;
}

.content-wrapper h1 {
  font-size: 6rem;
  margin-bottom: 1rem;
  position: relative;
  font-weight: 800;
  color: white;
}

.content-wrapper h1 span {
  color: #7bfea7;
}

.content-wrapper .sub-content {
  font-size: 1.5rem;
  line-height: 2.563rem;
  font-weight: 200;
}

.content-wrapper .about-content {
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: bold;
}

.content-wrapper .works-content {
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: bold;
}

.ledgerline p {
  color: #7bffac;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 3px;
  font-weight: 600;
}

.ledgerline:before {
  content: "";
  width: 4vw;
  height: 1px;
  background-color: #7bffac;
  position: absolute;
  transform: translateY(10px);
  left: 1px;
}

.spacer {
  height: 58vh;
}

.content-gotcha p {
  color: black;
  font-size: 20px;
}

.footnote {
  font-size: 11px;
  line-height: 1.5;
  font-style: italic;
  margin-top: 3vw;
}

.sup {
  font-size: 70%;
  vertical-align: top;
}

.download {
  padding-top: 2rem;
}

.download-btn {
  border: 1px solid #7bffac;
  padding: 1rem;
  text-decoration: none;
}

.download-btn:hover, 
.download-btn:focus {
  border: 1px solid #ffffff;
  text-decoration: underline;
  color: white;
}

.download-img {
  padding-right: 9px;
  width: 15px;
}

@media screen and (min-width: 1377px) and (max-width: 1600px) {
  .spacer {
    height: 24vw;
  }
}

@media screen and (min-width: 1281px) and (max-width: 1366px) {
  .content-wrapper {
    width: 29vw;
  }

  .spacer {
    height: 29vh;
  }
}

@media screen and (min-width: 801px) and (max-width: 1280px) {
  .content-wrapper {
    width: 29vw;
  }

  .spacer {
    height: 45vh;
  }
}

@media screen and (min-width: 561px) and (max-width: 800px) {
  .content-wrapper {
    width: 52vw;
  }

  .spacer {
    height: 63vh;
  }
}

@media screen and (max-width: 560px) {
  .content-wrapper {
    width: 81vw;
  }

  .content-wrapper h1 {
    font-size: 15vw;
    line-height: 4rem;
  }

  .spacer {
    height: 64vh;
  }

  .content-wrapper .sub-content {
    font-size: 18px;
    line-height: 1.5rem;
  }

  .content-wrapper .about-content,
  .content-wrapper .works-content {
    font-size: 24px;
    line-height: 1.8rem;
  }
}

@media screen and (max-width: 360px) {
  .content-wrapper h1 {
    font-size: 64px;
    line-height: 5rem;
  }

  p {
    font-size: 12px;
    line-height: 1.4rem;
  }
}

.mobile-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #11161a;
}

.mobile-wrapper h1{
  color: #7bffac;
}

.mobile-wrapper p{
  max-width: 300px;
  margin: 0 auto;
}